@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    
}
 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair display', serif;
}

a {
    background-color: #3ab6bf;
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: .25em;
    padding: .1em .4em;
    margin-left: .5em;
}

main.wrapper {
    max-width: 1300ox;
    margin: auto;
    display: grid;
    min-width: 100vh;
}
.hero {
    background: linear-gradient(#3ab6bf5e, #1a5271c7), url('../images/hero.jpg') no-repeat top right;
    /* */
    background-size: cover;
    padding: 2em;
    color: white;
}

.hero h1 {
    font-size: 3em;
    text-shadow: 2x 2px 5px #1a5271;
   /* shadow distance from the object (depth) / how the shadow drags down (height) / blur value / color */
    margin-right: 2em;

}

.hero p {
    font-weight: 200;
    text-shadow: 2x 2px 5px #1a5271;
    font-size: 1.25em;
}

.stories {
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
}

.stories article {
    border: 0.5px solid lightslategray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

}
.stories img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* change the radius individually*/
    height: 250px;
    width: 100%;
    object-fit: cover;

}

.stories figure {
    display: grid;
    grid-template-rows: 200px 50px;

}

.stories figcaption > h3 {
    color: white;
    padding: .75em;
    font-size: 1.25em;
    
}
.stories figcaption {
    background-color: rgba(0,0,0,.7);
}

.stories p {
    line-height: 1.5;
    padding: 1em .75em;
    color: #666666;
}

footer {
    background-color: #333;
    color: white;
    font-size: .75em;
    padding: .75em;
    text-align: center;
    margin-top: 1rem;
   
    
    /*position: fixed;
    bottom: 0;
    width: 100%;
    */
}

@media screen and (width >= 800px) {
    .hero {
        padding: 4em 2em;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .hero p {
        flex: 1;
    }

    .stories {
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    }

}

    
